html,

/* Header */
h2 {
    text-align: center;
}

p {
    margin: 1em 2em;
}

body {
    height: 90%;
    font: caption;
    background-color: #1a1a1a;
    color: #fff;
}

/* Summary output */
#summary {
    user-select: auto;
    padding: 10px;
    border: 5px solid #444;
    border-radius: 8px;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

/* Button not clicked*/
button {
    background-color: #588157;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Button clicked*/
button[disabled] {
    background-color: #445743;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}